.about-container{
    display: flex; 
    justify-content: center;
    align-items: center;
}

.first-para{
    flex: 1;
    margin-right: 20px;
    border: 2px solid yellow;
}
.second-para{
    flex: 1;
    margin-left: 20px;
    border: 2px solid brown;
}